@model Admin.Models.BusinessCustomer

@{
    ViewBag.Title = "BusinessRegister";
    ViewBag.pTitle = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <!-- twitter-bootstrap-wizard css -->
    <link rel="stylesheet" href="/assets/libs/twitter-bootstrap-wizard/prettify.css">
}


<div class="row">
    <div class="col-lg-12">
        
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Business Customer Register</h4>
            </div>
            <div class="card-body">
                <div id="basic-pills-wizard" class="twitter-bs-wizard">
                    <ul class="twitter-bs-wizard-nav">
                        <li class="nav-item">
                            <a href="#seller-details" class="nav-link" data-toggle="tab">
                                <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Customer Details">
                                    <i class="bx bx-list-ul"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#company-document" class="nav-link" data-toggle="tab">
                                <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Company Document">
                                    <i class="bx bx-book-bookmark"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#bank-detail" class="nav-link" data-toggle="tab">
                                <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Bank Details">
                                    <i class="bx bxs-bank"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- wizard-nav -->
                    <form action="@Url.Action("CreateBusiness","Customers")" method="post">
                    <div class="tab-content twitter-bs-wizard-tab-content">
                        <!-- Customer data-->
                        <div class="tab-pane" id="seller-details">
                            <div class="text-center mb-4">
                                <h5>Business Details</h5>
                                <p class="card-title-desc">Fill all information below</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label for="firstname" class="form-label">Full Name</label>
                                            <input type="text" class="form-control" id="fullName" placeholder="Enter Full Name" asp-for=fullName input-for="BusinessCustomer.fullName">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label for="basicpill-lastname-input" class="form-label">Legal Name</label>
                                            <input type="text" class="form-control" id="legalName" placeholder="Enter Legal Name" asp-for=legalName input-for="BusinessCustomer.legalName">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label for="basicpill-lastname-input" class="form-label">Trading Name</label>
                                        <input type="text" class="form-control" id="tradingName" placeholder="Enter Trading Name" asp-for=tradingName input-for="BusinessCustomer.tradingName">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label for="basicpill-email-input" class="form-label">Business Type</label>
                                            <input type="text" class="form-control" id="businessType" placeholder="Enter Business Type" asp-for=businessType input-for="BusinessCustomer.businessType">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label for="basicpill-email-input" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="email" placeholder="Enter your email" asp-for=email input-for="BusinessCustomer.email">
                                    </div>
                                </div>
                                    <div class="col-lg-2">
                                        <div class="mb-3">
                                            <label for="basicpill-email-input" class="form-label">Company Size</label>
                                            <input type="text" class="form-control" id="companySize" placeholder="Enter company size" asp-for=companySize input-for="BusinessCustomer.companySize">
                                        </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label for="basicpill-occupation-input" class="form-label">PhoneNumber</label>
                                            <input type="text" class="form-control" id="phoneNumber" placeholder="Enter your Phone." asp-for=phoneNumber input-for="BusinessCustomer.phoneNumber">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label for="basicpill-birthdate-input" class="form-label">CNAE Code</label>
                                            <input type="text" class="form-control" id="cnaeCode" placeholder="Enter CNAE code" asp-for=cnaeCode input-for="BusinessCustomer.cnaeCode">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label for="basicpill-birthdate-input" class="form-label">Website</label>
                                            <input type="text" class="form-control" id="website" placeholder="Enter website" asp-for=website input-for="BusinessCustomer.website">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label for="basicpill-birthdate-input" class="form-label">Declared Annual Revenue</label>
                                        <input type="text" class="form-control" id="declaredAnnualRevenue" placeholder="Enter annual revenue" asp-for=declaredAnnualRevenue input-for="BusinessCustomer.declaredAnnualRevenue">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label for="basicpill-mothersname-input" class="form-label">CNPJ</label>
                                        <input type="text" class="form-control" id="cpfCnpj" placeholder="Enter CNPJ" asp-for=cpfCnpj input-for="BusinessCustomer.cpfCnpj">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label for="example-date-input" class="form-label">Date of Incorporation</label>
                                        <input class="form-control" type="date" value="2024-01-01" id="example-date-input" asp-for=dateOfIncorporation input-for="BusinessCustomer.dateOfIncorporation">
                                    </div>
                                </div>
                            </div>
                            <ul class="pager wizard twitter-bs-wizard-pager-link">
                                <li class="next">
                                    <a href="javascript: void(0);" class="btn btn-primary">
                                        Next <i class="bx bx-chevron-right ms-1"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- tab pane -->
                        
                        <div class="tab-pane" id="company-document">
                            <div>
                                <div class="text-center mb-4">
                                    <h5>Business Address</h5>
                                    <p class="card-title-desc">Fill all information below</p>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="basicpill-street-input" class="form-label">Street</label>
                                                <input type="text" id="street" class="form-control" placeholder="Enter your Street Address" asp-for=address.street input-for="BusinessCustomer.address.street">
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mb-3">
                                            <label for="basicpill-number-input" class="form-label">Number</label>
                                                <input type="text" id="number" class="form-control" placeholder="Enter Street Number" asp-for=address.number input-for="BusinessCustomer.address.number">
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mb-3">
                                            <label for="basicpill-complement-input" class="form-label">Complement</label>
                                                <input type="text" id="complement" class="form-control" placeholder="Enter Complement" asp-for=address.complement input-for="BusinessCustomer.address.complement">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="basicpill-district-input" class="form-label">District</label>
                                                <input type="text" id="district" class="form-control" placeholder="Enter District" asp-for=address.district input-for="BusinessCustomer.address.district">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="basicpill-city-input" class="form-label">City</label>
                                                <input type="text" id="city" class="form-control" placeholder="Enter City" asp-for=address.city input-for="BusinessCustomer.address.city">
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mb-3">
                                            <label for="basicpill-zip-input" class="form-label">Zip</label>
                                                <input type="text" id="zip" class="form-control" placeholder="Enter Zip" asp-for=address.zip input-for="BusinessCustomer.address.zip">
                                        </div>
                                    </div>
                                </div>
                                <ul class="pager wizard twitter-bs-wizard-pager-link">
                                    <li class="previous">
                                        <a href="javascript: void(0);" class="btn btn-primary">
                                            <i class="bx bx-chevron-left me-1"></i> Previous
                                        </a>
                                    </li>
                                    <li class="next">
                                        <a href="javascript: void(0);" class="btn btn-primary">
                                            Next <i class="bx bx-chevron-right ms-1"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- tab pane -->

                        <div class="tab-pane" id="bank-detail">
                            <div>
                                <div class="text-center mb-4">
                                    <h5>Documents</h5>
                                    <p class="card-title-desc">Fill all information below</p>
                                </div>

                                <div class="row">
                                    <div class="col-lg-2">
                                        <div class="mb-3">
                                                <label for="basicpill-associateIdentification-input" class="form-label">Associate CPF / CNPJ</label>
                                                <input type="text" class="form-control" id="associateIdentification" placeholder="Enter CPF / CNPJ" asp-for=associateDocument input-for="BusinessCustomer.associateDocument">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-namecard-input" class="form-label">Company Statute</label>
                                            <input type="file" class="form-control" id="companyStatute-input" placeholder="Company Statute">
                                            <input type="hidden" id="companyStatute-b64" class="form-control" placeholder="Company Statute" asp-for=companyStatute input-for="BusinessCustomer.companyStatute">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-namecard-input" class="form-label">Address</label>
                                            <input type="file" class="form-control" id="addressproof-input" placeholder="Enter your Name on Card">
                                            <input type="hidden" id="addressproof-b64" asp-for=addressB64 input-for="BusinessCustomer.addressB64">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <h6>Image Preview:</h6>
                                            <img class="img" id="companyStatute" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <h6>Image Preview:</h6>
                                            <img class="img" id="addressproof" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-namecard-input" class="form-label">Associate Address</label>
                                                <input type="file" class="form-control" id="associateAddress-input" placeholder="Enter your Name on Card">
                                                <input type="hidden" id="associateAddress-b64" asp-for=associateAddressB64 input-for="BusinessCustomer.associateAddressB64">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-namecard-input" class="form-label">Associate Document</label>
                                            <input type="file" class="form-control" id="associateDocument-input" placeholder="Enter your Name on Card">
                                            <input type="hidden" id="associateDocument-b64" asp-for=associateDocumentB64 input-for="BusinessCustomer.associateDocumentB64">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <h6>Image Preview:</h6>
                                            <img class="img" id="associateAddress" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <h6>Image Preview:</h6>
                                            <img class="img" id="associateDocument" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-namecard-input" class="form-label">Associate Company Statute</label>
                                            <input type="file" class="form-control" id="associateCompanyStatute-input" placeholder="Enter your Name on Card">
                                            <input type="hidden" id="associateCompanyStatute-b64" asp-for=associateCompanyStatuteB64 input-for="BusinessCustomer.associateCompanyStatuteB64">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-namecard-input" class="form-label">Associate Declared Income</label>
                                            <input type="file" class="form-control" id="associateDeclaredIncome-input" placeholder="Enter your Name on Card">
                                            <input type="hidden" id="associateDeclaredIncome-b64" placeholder="Enter Country" asp-for=associateDeclaredIncome input-for="BusinessCustomer.associateDeclaredIncome">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <h6>Image Preview:</h6>
                                                <img class="img" id="associateCompanyStatute" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <h6>Image Preview:</h6>
                                            <img class="img" id="associateDeclaredIncome" />
                                        </div>
                                    </div>
                                </div>

                                <ul class="pager wizard twitter-bs-wizard-pager-link">
                                    <li class="previous">
                                        <a href="javascript: void(0);" class="btn btn-primary">
                                            <i class="bx bx-chevron-left me-1"></i> Previous
                                        </a>
                                    </li>
                                    <li class="float-end">
@*                                         <a href="javascript: void(0);" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target=".confirmModal">
                                            Save
                                            Changes
                                        </a> *@
                                            <button type="submit" class="btn btn-primary w-md" data-bs-dismiss="modal">
                                                Save changes
                                            </button>
                                    </li>

                                        
                                </ul>
                            </div>
                        </div>
                        <!-- tab pane -->

                    <!-- end tab content -->
                    </form>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

@section externalhtml{

    <!-- Modal -->
    <div class="modal fade confirmModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="mb-3">
                            <i class="bx bx-check-circle display-4 text-success"></i>
                        </div>
                        <h5>Confirm Save Changes</h5>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-light w-md" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary w-md" data-bs-dismiss="modal">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal -->
}


@section scripts{


    <!-- twitter-bootstrap-wizard js -->
    <script src="/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="/assets/libs/twitter-bootstrap-wizard/prettify.js"></script>

    <!-- form wizard init -->
    <script src="/assets/js/pages/form-wizard.init.js"></script>

    <!-- form mask -->
    <script src="/assets/libs/imask/imask.min.js"></script>

    <!-- form mask init -->
    <script src="/assets/js/pages/form-mask.init.js"></script>

    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/pages/business-register.js"></script>
    <script>
        var phoneMask = IMask(document.getElementById('phoneNumber'), {
            mask: '+00(000)0000-00000'
        });

        var phoneMask = IMask(document.getElementById('cpfcnpj'), {
            mask: '000.000.000-00'
        });
        var dateMask = IMask(document.getElementById('birthdate'), {
            // mask: Date,
            // min: new Date(1990, 0, 1),
            // max: new Date(2024, 0, 1),
            // lazy: false
            mask: '0000-00-00'
        });
    </script>
}
