<meta charset="utf-8" />
<title>@ViewBag.Title | [Genius] Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Genius Admin & Dashboard " name="description" />
<meta content="Genius" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">
